

*{
  max-width: 1440px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;

  .wrapper{
    border: 0.5px solid rgba(0, 0, 0, 0.242);
  }
}
